.test-component,
.select-box__selected-option {
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  min-height: 28px;
  cursor: pointer;
}

.test-component__child--active,
.select-box__option[aria-current='true'] {
  background-color: #5797fb;
  color: white;
}

.test-component,
.select-box__options {
  max-height: 50vh;
  overflow: auto;
}
