{{! template-lint-disable no-invalid-interactive  }}

<div class='test-component' {{on 'click' this.toggle}}>
  {{#if this.show}}
    {{#each @options as |option|}}
      <TestComponent::Child
        @activeChild={{this.activeChild}}
        @onActivate={{this.activateChild}}
      >
        {{yield option}}
      </TestComponent::Child>
    {{/each}}
  {{/if}}
</div>